<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Registro</title>
    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700&display=swap" rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <!-- Page CSS -->
    <!-- Page -->
    <link rel="stylesheet" href="/assets/vendor/css/pages/page-auth.css" />
    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>

    <!-- Config -->
    <script src="/assets/js/config.js"></script>

    <!--FUENTE DEL TITULO-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <!--FUENTE DEL TEXTO 1-->
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
<!-- Content -->
<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register Card -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <img src="/assets/img/icons/unicons/logo.png" alt="Logo" style="width: 250px; display: block; margin: -70px auto -90px auto;" />
                    <div class="app-brand justify-content-center">
                        <a th:href="@{/login}" class="app-brand-link gap-2">
                            <h1 style="color: #696CFF; font-family: 'Poppins', sans-serif; font-size: 3rem; text-align: center; margin-bottom: -5px;">
                                TelExpress
                            </h1>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2" style="font-family: Zilla Slab"> Regístrate con nosotros </h4>
                    <small>Todos los campos son obligatorios</small>
                    <!-- Formulario de Registro -->
                    <form id="formAuthentication" method="post" th:action="@{/registro_usuario}" th:object="${usuario}" class="mb-3">

                        <div class="mb-3">
                            <label class="form-label">DNI:</label>
                            <input th:field="*{dni}" type="text" id="dni" name="dni" class="form-control" placeholder="Ingresa tu DNI" />
                        </div>

                        <!-- Mensaje de Carga -->
                        <div id="loadingMessage" style="display:none; text-align: center; margin-bottom: 20px; font-size: 16px; color: #333;">Cargando datos...</div>
                        <div class="mb-3">
                            <label class="form-label">Nombres:</label>
                            <!-- Campo de solo lectura para el nombre -->
                            <input th:field="*{nombre}" type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombres" readonly />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Apellidos:</label>
                            <!-- Campo de solo lectura para el apellido -->
                            <input th:field="*{apellido}" type="text" id="apellido" name="apellido" class="form-control" placeholder="Apellidos" readonly />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Correo electrónico:</label>
                            <input th:field="*{correo}" type="email" class="form-control" placeholder="Ingresa tu correo" required />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Dirección:</label>
                            <input th:field="*{direccion}" type="text" class="form-control" placeholder="Ingresa tu dirección" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Distrito:</label>
                            <select class="form-control form-select" th:field="*{distrito.id}" required>
                                <option value="" disable selected>Seleccione un distrito</option>
                                <option th:each="distrito : ${lista_distritos}"
                                        th:value="${distrito.id}"
                                        th:text="${distrito.nombredistrito}">
                                </option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Teléfono:</label>
                            <input th:field="*{telefono}" type="text" class="form-control" placeholder="Ingresa tu teléfono" />
                        </div>
                        <!-- Campo de Contraseña -->
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label">Contraseña</label>
                            <div class="input-group input-group-merge">
                                <input th:field="*{contrasena}" id="password" type="password" class="form-control" placeholder="********" required
                                       pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()_+\\-=\\[\\]{};':&quot;\\\\|,.<>/?]).{8,16}$"
                                       title="La contraseña debe tener al menos 1 letra, 1 número, 2 caracteres especiales y una longitud entre 8 y 16 caracteres." />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>

                        <!-- Repetir Contraseña -->
                        <div class="mb-3 form-password-toggle">
                            <label class="form-label">Repetir contraseña</label>
                            <div class="input-group input-group-merge">
                                <input id="confirm_password" type="password" class="form-control" placeholder="********" required />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>

                        <button class="btn btn-primary d-grid w-100" type="submit">Registrarme</button>
                    </form>

                    <p class="text-center">
                        <span>¿Ya tienes una cuenta?</span>
                        <a href="/login">
                            <span>Inicia sesión aquí</span>
                        </a>
                    </p>
                </div>
            </div>
            <!-- /Register Card -->
        </div>
    </div>
</div>

<!-- Core JS -->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/vendor/js/menu.js"></script>

<!-- Vendors JS -->
<script src="/assets/js/main.js"></script>

<!-- JavaScript para validar contraseñas -->
<script>
    document.getElementById('formAuthentication').addEventListener('submit', function (e) {
        var password = document.getElementById('password').value;
        var confirmPassword = document.getElementById('confirm_password').value;

        // Expresión regular para validar la contraseña
        var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]).{8,16}$/;

        if (!password.match(passwordPattern)) {
            e.preventDefault(); // Evita el envío del formulario
            alert("La contraseña debe tener al menos 1 letra, 1 número, 2 caracteres especiales y una longitud entre 8 y 16 caracteres.");
        } else if (password !== confirmPassword) {
            e.preventDefault(); // Evita el envío del formulario si las contraseñas no coinciden
            alert("Las contraseñas no coinciden.");
        }
    });
</script>
<script>
    document.getElementById("dni").addEventListener("blur", function() {
        var dni = this.value;
        // Mostrar el mensaje de carga
        document.getElementById("loadingMessage").style.display = "block";

        fetch(`/api/usuarios/dni/${dni}`)
            .then(response => {
                if (!response.ok) throw new Error("No se encontraron datos para el DNI ingresado");
                return response.json();
            })
            .then(data => {
                // Llenamos los campos de nombre y apellido automáticamente
                document.getElementById("nombre").value = data.nombres;
                document.getElementById("apellido").value = `${data.apellidoPaterno} ${data.apellidoMaterno}`;
                // Ocultar el mensaje de carga
                document.getElementById("loadingMessage").style.display = "none";
            })
            .catch(error => {
                alert(error.message);  // Mostrar mensaje de error
                document.getElementById("loadingMessage").style.display = "none";  // Ocultar el mensaje de carga
            });
    });
</script>


<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>
