<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
      data-assets-path="/assets/" data-template="vertical-menu-template-free">
<head>
    <style>
        .table td {
            white-space: nowrap; /* Evita que el texto se divida en varias líneas */
            text-overflow: ellipsis; /* Corta el texto con puntos suspensivos si es muy largo */
            overflow: hidden; /* Oculta el texto desbordante */
        }
    </style>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>Órdenes Agente</title>
    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"/>

    <!-- Icons -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/assets/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css"/>

    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>
    <script src="/assets/js/config.js"></script>
    <!--TelExpress fuente de letra-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <style>
        .search-bar {
            width: 100%; /* Ajusta el tamaño a tus necesidades */
        }
    </style>
</head>
<body>
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div th:insert="~{Agente/fragments/menu.html::menu}"></div> <!-- este es el menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <div th:insert="~{Agente/fragments/navbar.html::navbar}"></div> <!-- este es el navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">

                    <!-- Tabla de órdenes -->
                    <div class="col-12 col-lg-12 mb-4">
                        <div class="card">
                            <div class="p-3 d-flex">
                                <!-- Formulario de búsqueda -->
                                <form th:action="@{/agente/ordenes}" method="get" class="d-flex w-100">
                                    <input type="text" name="search" class="form-control me-2 search-bar" placeholder="Buscar por cliente o apellido o estado..."
                                           th:value="${search}">
                                    <button type="submit" class="btn btn-primary">Buscar</button>
                                </form>

                            </div>
                            <h5 class="card-header">Órdenes</h5>
                            <div class="table-responsive text-nowrap">
                                <table class="table table-striped">
                                    <thead class="table-light">
                                    <tr>
                                        <th>N°</th>
                                        <th>Cliente</th>
                                        <th>Apellido</th>
                                        <th>Dirección</th>
                                        <th>Estado</th>
                                        <th>Fecha</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- Iteración sobre las órdenes -->
                                    <tr th:each="orden : ${ordenes}">
                                        <td th:text="${orden.idOrdenes}"></td>

                                        <!-- Asegúrate de que el usuario no sea null antes de mostrar el nombre
                                             Porque en la tabla usuario está borrado el id 25 -->
                                        <td th:text="${orden.usuario != null} ? ${orden.usuario.nombre} : 'Usuario no disponible'"></td>
                                        <td th:text="${orden.usuario != null} ? ${orden.usuario.apellido} : 'Usuario no disponible'"></td>

                                        <td th:text="${orden.usuario != null} ? ${orden.usuario.direccion} : 'Dirección no disponible'"></td>
                                        <td>
                                            <span th:text="${orden.estadoOrdenes}"
                                                  th:class="'badge ' + (
                                                    ${orden.estadoOrdenes == 'CREADO'} ? 'bg-label-warning' :
                                                    (${orden.estadoOrdenes == 'EN VALIDACIÓN'} ? 'bg-label-danger' :
                                                    (${orden.estadoOrdenes == 'EN PROCESO'} ? 'bg-label-primary' :
                                                    (${orden.estadoOrdenes == 'ARRIBO AL PAÍS'} ? 'bg-label-dark' :
                                                    (${orden.estadoOrdenes == 'EN ADUANAS'} ? 'bg-label-secondary' :
                                                    (${orden.estadoOrdenes == 'EN RUTA'} ? 'bg-label-info' :
                                                    (${orden.estadoOrdenes == 'RECIBIDO'} ? 'bg-label-success' :
                                                    'bg-label-default' )))))))"></span>    </td>
                                        <td th:text="${#dates.format(orden.fechaArribo, 'yyyy-MM-dd')}"></td>
                                    </tr>
                                    </tbody>

                                </table>

                            </div>

                            <!-- Paginación -->
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>

<!-- Core JS -->
<script src="../../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../../assets/vendor/libs/popper/popper.js"></script>
<script src="../../assets/vendor/js/bootstrap.js"></script>
<script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../../assets/vendor/js/menu.js"></script>

<!-- Vendors JS -->
<script src="../../assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="../../assets/js/main.js"></script>

<!-- Page JS -->
<script src="../../assets/js/dashboards-analytics.js"></script>
</body>
</html>
