<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
  <title>Cambio de Contraseña</title>

  <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />
  <link rel="stylesheet" href="/assets/vendor/css/core.css" />
  <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" />
  <link rel="stylesheet" href="/assets/css/demo.css" />
  <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="/assets/vendor/css/pages/page-auth.css" />
  <style>
    body {
      background-color: #F2F3F4;
    }
  </style>
</head>
<body>
<div class="container-xxl">
  <div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner">
      <div class="card">
        <div class="card-body">
          <img src="/assets/img/avatars/1.png" class="rounded-circle" alt="Logo" style="width: 120px; display: block; margin:  -20px auto;" />
          <h4 class="mb-2" style="font-family: Zilla Slab">TelExpress</h4>

          <!-- Formulario de Cambio de Contraseña -->
          <form id="formAuthentication" class="mb-3" th:action="@{/coordinador/cambia_contra}" method="post">
            <!-- Contraseña Actual almacenada desde el servidor -->
            <input type="hidden" id="currentPasswordHidden" th:value="${passw}" />

            <input type="hidden" name="id" th:value="${id}" />

            <div class="mb-3 form-password-toggle">
              <label class="form-label" for="password">Contraseña Actual</label>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="currentPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required />
                <span class="input-group-text cursor-pointer">
      <i class="bx bx-hide" id="toggle-password-actual"></i>
    </span>
              </div>
            </div>

            <div class="mb-3 form-password-toggle">
              <label class="form-label" for="new-password">Nueva Contraseña</label>
              <div class="input-group input-group-merge">
                <input type="password" id="new-password" class="form-control" name="newPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required />
                <span class="input-group-text cursor-pointer">
      <i class="bx bx-hide" id="toggle-password-nueva"></i>
    </span>
              </div>
            </div>

            <div class="mb-3 form-password-toggle">
              <label class="form-label" for="confirmNewPassword">Repetir Nueva Contraseña</label>
              <div class="input-group input-group-merge">
                <input type="password" id="confirmNewPassword" class="form-control" name="confirmPassword" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" required />
                <span class="input-group-text cursor-pointer">
               <i class="bx bx-hide" id="toggle-password-confirm"></i>
                  </span>
              </div>
            </div>

            <div class="mb-3">
              <button type="submit" class="btn btn-primary d-grid w-100" >Cambiar Contraseña</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Script para validar la contraseña -->
<script>
  // Función para alternar la visibilidad de la contraseña
  function togglePasswordVisibility(passwordFieldId, toggleIconId) {
    const passwordField = document.getElementById(passwordFieldId);
    const toggleIcon = document.getElementById(toggleIconId);

    toggleIcon.addEventListener('click', function() {
      // Cambiar entre 'password' y 'text' para mostrar/ocultar la contraseña
      const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordField.setAttribute('type', type);

      // Alternar el ícono entre bx-hide y bx-show
      this.classList.toggle('bx-hide');
      this.classList.toggle('bx-show');
    });
  }

  // Llamar a la función para cada campo de contraseña
  togglePasswordVisibility('password', 'toggle-password-actual');
  togglePasswordVisibility('new-password', 'toggle-password-nueva');
  togglePasswordVisibility('confirmNewPassword', 'toggle-password-confirm');
</script>
</body>
</html>
