<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="utf-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />
    <title>Menu</title>
    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
</head>
<body>
<div th:fragment="menu">
    <!-- Menu -->

    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
        <!-- Contenedor para la imagen centrada -->
        <div style="text-align: center;">
            <img src="/assets/img/icons/unicons/logo.png" alt="Imagen" style="width: 150px; margin-bottom: -70px; margin-top: -20px">
        </div>

        <div class="app-brand demo" style="text-align: center;">
            <a href="/agente/inicio" class="app-brand-link">
                <span class="app-brand-text demo menu-text fw-bolder" style="font-family: 'Poppins', sans-serif; color: #7367F0; padding-left: 15px;">TelExpress</span>
            </a>

            <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                <i class="bx bx-chevron-left bx-sm align-middle"></i>
            </a>
        </div>


        <div class="menu-inner-shadow"></div>

        <ul class="menu-inner py-1">
            <!-- Dashboard -->
            <li class="menu-item" th:classappend="${paginaActual == 'inicio'} ? 'active'">
                <a href="/agente/inicio" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-home-circle"></i>
                    <div data-i18n="Inicio">Inicio</div>
                </a>
            </li>

            <li class="menu-item" th:classappend="${paginaActual == 'usuarios_agente'} ? 'active'">
                <a href="/agente/usuarios_agente" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-user"></i>
                    <div data-i18n="ListaDeUsuarios">Lista de usuarios</div>
                </a>
            </li>

            <li class="menu-item" th:classappend="${paginaActual == 'chat_agente'} ? 'active'">
                <a href="/agente/chat_agente" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-chat"></i>
                    <div data-i18n="Chats">Chats</div>
                </a>
            </li>

            <!-- Órdenes -->
            <!-- Verifica si la página actual es alguna de las relacionadas con "ordenes" -->
            <li class="menu-item" th:classappend="${paginaActual == 'ordenes' || paginaActual == 'ordenes_sin_asignar' || paginaActual == 'ordenes_pendientes' || paginaActual == 'ordenes_en_progreso' || paginaActual == 'ordenes_resueltas'} ? 'active open'">
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-cart-alt"></i>
                    <div data-i18n="Órdenes">Órdenes</div>
                </a>
                <ul class="menu-sub">
                    <li class="menu-item" th:classappend="${paginaActual == 'ordenes'} ? 'active'">
                        <a href="/agente/ordenes" class="menu-link">
                            <div data-i18n="TodasLasOrdenes">Todas las órdenes</div>
                        </a>
                    </li>
                    <li class="menu-item" th:classappend="${paginaActual == 'ordenes_sin_asignar'} ? 'active'">
                        <a href="/agente/ordenes_sin_asignar" class="menu-link">
                            <div data-i18n="OrdenesSinAsignar">Órdenes sin asignar</div>
                        </a>
                    </li>
                    <li class="menu-item" th:classappend="${paginaActual == 'ordenes_pendientes'} ? 'active'">
                        <a href="/agente/ordenes_pendientes" class="menu-link">
                            <div data-i18n="OrdenesPendientes">Órdenes pendientes</div>
                        </a>
                    </li>
                    <li class="menu-item" th:classappend="${paginaActual == 'ordenes_en_progreso'} ? 'active'">
                        <a href="/agente/ordenes_en_progreso" class="menu-link">
                            <div data-i18n="OrdenesEnProgreso">Órdenes en progreso</div>
                        </a>
                    </li>
                    <li class="menu-item" th:classappend="${paginaActual == 'ordenes_resueltas'} ? 'active'">
                        <a href="/agente/ordenes_resueltas" class="menu-link">
                            <div data-i18n="OrdenesResueltas">Órdenes resueltas</div>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="menu-item" th:classappend="${paginaActual == 'usuarios_baneados'} ? 'active'">
                <a href="/agente/usuarios_baneados" class="menu-link">
                    <i class="menu-icon tf-icons bx bx-block"></i>
                    <div data-i18n="UsuariosBaneados">Usuarios baneados</div>
                </a>
            </li>
        </ul>


    </aside>
    <!-- / Menu -->

</div>
</body>
</html>