<!DOCTYPE html>

<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"
    />

    <title>Dashboard - SuperAdmin</title>

    <meta name="description" content=""/>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico"/>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
    />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css"/>

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css"/>
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css"/>
    <link rel="stylesheet" href="/assets/css/demo.css"/>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css"/>

    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css"/>

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="/assets/js/config.js"></script>
    <!--TelExpress fuente de letra-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div th:insert="~{SuperAdmin/fragments/menu.html::menu}"></div> <!-- este es el menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <div th:insert="~{SuperAdmin/fragments/navbar.html::navbar}"></div> <!-- este es el navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->

                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 style="font-family: 'Poppins', sans-serif; color: #7367F0; font-weight: bold; padding-top: 1rem; padding-bottom: 1rem; margin-bottom: 1rem; text-align: center; font-size: 40px;">
                        Dashboard</h4>
                    <div class="card">
                        <div class="card-body">


                            <div class="row mb-5">
                                <!-- Ordenes -->
                                <div class="col-md-6 col-lg-4 order-0 mb-4">
                                    <div class="card h-100 border-dark">
                                        <div class="card-header">
                                            <ul class="nav nav-pills" role="tablist">
                                                <div class="card-title mb-0">
                                                    <h5 class="m-0 me-2">Órdenes</h5>
                                                </div>
                                            </ul>
                                        </div>
                                        <div class="card-body px-0">
                                            <div class="tab-content p-0">
                                                <div class="tab-pane fade show active" id="navs-tabs-line-card-income"
                                                     role="tabpanel">

                                                    <div id="ordenesChart"></div>
                                                    <div class="d-flex justify-content-center pt-4 gap-2">

                                                        <div>
                                                            <!-- Borderless Table -->
                                                            <div class="card">

                                                                <div class="table-responsive text-nowrap">
                                                                    <table class="table table-borderless">
                                                                        <thead>
                                                                        <tr>
                                                                            <th>Estado</th>
                                                                            <th>Cantidad</th>
                                                                        </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                        <tr>
                                                                            <td><span class="badge bg-label-warning me-1">Creado</span></td>
                                                                            <td th:text="${ordenesCreado}"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span class="badge bg-label-danger me-1">En Validación</span></td>
                                                                            <td th:text="${ordenesEnValidacion}"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span class="badge bg-label-primary me-1">En Proceso</span></td>
                                                                            <td th:text="${ordenesEnProceso}"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span class="badge bg-label-dark me-1">Arribo al País</span></td>
                                                                            <td th:text="${ordenesArriboAlPais}"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span class="badge bg-label-secondary me-1">En Aduanas</span></td>
                                                                            <td th:text="${ordenesEnAduanas}"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span class="badge bg-label-info me-1">En Ruta</span></td>
                                                                            <td th:text="${ordenesEnRuta}"></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td><span class="badge bg-label-success me-1">Recibido</span></td>
                                                                            <td th:text="${ordenesRecibido}"></td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                            <!--/ Borderless Table -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ Ordenes -->


                                <div class="col-md-6 col-lg-4">

                                    <!-- Usuarios -->
                                    <div class="order-1">
                                        <div class="card h-100 ">
                                            <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                                <div class="card-title mb-0">
                                                    <h5 class="m-0 me-2">Usuarios</h5>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="d-flex justify-content-center flex-column align-items-center gap-2 mb-4">
                                                    <h2 class="mb-2" th:text="${totalUsuarios}"></h2>
                                                    <span>Usuarios Totales</span>
                                                </div>
                                                <ul class="list-unstyled">
                                                    <li class="d-flex justify-content-between align-items-center mb-3 pb-1">
                                                        <div class="d-flex align-items-center gap-2">
                            <span class="avatar-initial rounded bg-label-success">
                                <i class="bx bx-check-circle"></i>
                            </span>
                                                            <h6 class="mb-0">Activos</h6>
                                                        </div>
                                                        <small class="fw-semibold" th:text="${usuariosActivos}"></small>
                                                    </li>
                                                    <li class="d-flex justify-content-between align-items-center mb-3 pb-1">
                                                        <div class="d-flex align-items-center gap-2">
                            <span class="avatar-initial rounded bg-label-info">
                                <i class="bx bx-minus-circle"></i>
                            </span>
                                                            <h6 class="mb-0">Inactivos</h6>
                                                        </div>
                                                        <small class="fw-semibold" th:text="${usuariosInactivos}"></small>
                                                    </li>
                                                    <li class="d-flex justify-content-between align-items-center mb-3 pb-1">
                                                        <div class="d-flex align-items-center gap-2">
                            <span class="avatar-initial rounded bg-label-danger">
                                <i class="bx bx-x-circle"></i>
                            </span>
                                                            <h6 class="mb-0">Baneados</h6>
                                                        </div>
                                                        <small class="fw-semibold" th:text="${usuariosBaneados}"></small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Usuarios -->

                                    <!-- Agentes -->
                                    <div class="order-2" style="margin-top: -31px">
                                        <div class="card h-100">
                                            <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                                <div class="card-title mb-0">
                                                    <h5 class="m-0 me-2">Agentes</h5>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="d-flex justify-content-center flex-column align-items-center gap-2 mb-4">
                                                    <h2 class="mb-2" th:text="${usuariosAgentes}"></h2>
                                                    <span>Agentes Totales</span>
                                                </div>
                                                <ul class="list-unstyled">
                                                    <li class="d-flex justify-content-between align-items-center mb-3 pb-1">
                                                        <div class="d-flex align-items-center gap-2">
                            <span class="avatar-initial rounded bg-label-success">
                                <i class="bx bx-check-circle"></i>
                            </span>
                                                            <h6 class="mb-0">Activos</h6>
                                                        </div>
                                                        <small class="fw-semibold" th:text="${agentesActivos}"></small>
                                                    </li>
                                                    <li class="d-flex justify-content-between align-items-center mb-3 pb-1">
                                                        <div class="d-flex align-items-center gap-2">
                            <span class="avatar-initial rounded bg-label-info">
                                <i class="bx bx-minus-circle"></i>
                            </span>
                                                            <h6 class="mb-0">Inactivos</h6>
                                                        </div>
                                                        <small class="fw-semibold" th:text="${agentesInactivos}"></small>
                                                    </li>
                                                    <li class="d-flex justify-content-between align-items-center mb-3 pb-1">
                                                        <div class="d-flex align-items-center gap-2">
                            <span class="avatar-initial rounded bg-label-danger">
                                <i class="bx bx-x-circle"></i>
                            </span>
                                                            <h6 class="mb-0">Baneados</h6>
                                                        </div>
                                                        <small class="fw-semibold" th:text="${agentesBaneados}"></small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Agentes -->

                                </div>


                                <div class="col-md-6 col-lg-4 order-3 mb-4">


                                    <!-- Proveedores baneados -->
                                    <div class="order-2">
                                        <div class="card h-100">
                                            <div class="card-header d-flex align-items-center justify-content-between pb-0">
                                                <div class="card-title mb-0">
                                                    <h5 class="m-0 me-2">Proveedores</h5>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="d-flex justify-content-center flex-column align-items-center gap-2 mb-4">
                                                    <h2 class="mb-2" th:text="${totalProveedores}"></h2>
                                                    <span>Proveedores Totales</span>
                                                </div>
                                                <ul class="list-unstyled">
                                                    <li class="d-flex justify-content-between align-items-center mb-3 pb-1">
                                                        <div class="d-flex align-items-center gap-2">
                        <span class="avatar-initial rounded bg-label-success">
                            <i class="bx bx-check-circle"></i>
                        </span>
                                                            <h6 class="mb-0">Activos</h6>
                                                        </div>
                                                        <small class="fw-semibold" th:text="${proveedoresActivos}"></small>
                                                    </li>
                                                    <li class="d-flex justify-content-between align-items-center mb-3 pb-1">
                                                        <div class="d-flex align-items-center gap-2">
                        <span class="avatar-initial rounded bg-label-danger">
                            <i class="bx bx-x-circle"></i>
                        </span>
                                                            <h6 class="mb-0">Baneados</h6>
                                                        </div>
                                                        <small class="fw-semibold" th:text="${proveedoresBaneados}"></small>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/ Proveedores baneados -->


                                    <!-- Proveedores -->
                                    <div class="card">
                                        <h5 class="card-header">Proveedores</h5>
                                        <div class="card-body">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>Más Solicitados</th>
                                                    <th>Con Peores Comentarios</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="proveedor, iterStat : ${topProveedoresPositivos}">
                                                    <td th:text="${proveedor.nombreTienda}">Proveedor Positivo</td>
                                                    <td th:text="${#lists.size(topProveedoresNegativos) > iterStat.index ? topProveedoresNegativos[iterStat.index].nombreTienda : ''}">Proveedor Negativo</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--/ Proveedores -->





                                </div>
                            </div>
                            <!-- Productos -->
                            <div class=" order-2 ">
                                <h5 class="card-header" style="font-weight: bold;" >Top 10 Productos Más Vendidos</h5>
                                <div class="card-body">
                                    <div class="table-responsive text-nowrap">
                                        <table class="table table-striped">
                                            <thead class="table-light">
                                            <tr>
                                                <th>N°</th>
                                                <th>Nombre</th>
                                                <th>Categoría</th>
                                                <th>Cantidad<br>Disponible</th>
                                                <th>Cantidad<br>Comprada</th>
                                                <th>Precio</th>
                                                <th>Costo<br>de envío</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="producto, info : ${listaTop}">
                                                <td th:text="${info.index + 1}"></td>
                                                <td th:text="${producto.nombreProducto}"></td>
                                                <td th:text="${producto.categoria}"></td>
                                                <td th:text="${producto.cantidadDisponible}"></td>
                                                <td th:text="${producto.cantidadComprada}"></td>
                                                <td th:text="${producto.precio}"></td>
                                                <td th:text="${producto.costoEnvio}"></td>

                                                <!--<td><button class="btn btn-sm btn-primary"  th:href="@{'/producto/editar?id=' + ${producto.idProducto}}"><i class="bx bx-edit-alt"></i></button> -->
                                                </td>
                                            </tr>

                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--/ Productos -->

                        </div>
                    </div>

                </div>

                <!-- / Content -->

                <div class="content-backdrop fade"></div>
            </div>
            <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>

    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>
<!-- / Layout wrapper -->


<!-- Core JS -->
<!-- build:js assets/vendor/js/core.js -->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

<script src="/assets/vendor/js/menu.js"></script>
<!-- endbuild -->

<!-- Vendors JS -->
<script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="/assets/js/main.js"></script>

<!-- Page JS -->
<script src="/assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
    // Ordenes Chart - Area chart
    const ordenesChartEl = document.querySelector('#ordenesChart'),
        ordenesChartConfig = {

            series: [
                {
                    name: 'Cantidad',
                    data: [ '', 530, 322, 540, 296, 435, 529]

                    /*data: [

                        '',
                        [[${ordenesEnero}]],
                        [[${ordenesFebrero}]],
                        [[${ordenesMarzo}]],
                        [[${ordenesAbril}]],
                        [[${ordenesMayo}]],
                        [[${ordenesJunio}]],
                        [[${ordenesJulio}]]
                    ]*/
                }
            ],
            chart: {
                height: 200,
                parentHeightOffset: 0,
                parentWidthOffset: 0,
                toolbar: {
                    show: false
                },
                type: 'area'
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                width: 2,
                curve: 'smooth'
            },
            legend: {
                show: false
            },
            markers: {
                size: 6,
                colors: 'transparent',
                strokeColors: 'transparent',
                strokeWidth: 4,
                discrete: [
                    {
                        fillColor: '#fff',
                        seriesIndex: 0,
                        dataPointIndex: 7,
                        strokeColor: '#7367f0',
                        strokeWidth: 2,
                        size: 6,
                        radius: 8
                    }
                ],
                hover: {
                    size: 7
                }
            },
            colors: ['#7367f0'],
            fill: {
                type: 'gradient',
                gradient: {
                    shade: 'light',
                    shadeIntensity: 0.6,
                    opacityFrom: 0.5,
                    opacityTo: 0.25,
                    stops: [0, 95, 100]
                }
            },
            grid: {
                borderColor: '#ebebeb',
                strokeDashArray: 3,
                padding: {
                    top: -20,
                    bottom: -8,
                    left: -10,
                    right: 8
                }
            },
            xaxis: {
                categories: ['', 'Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul'],
                axisBorder: {
                    show: false
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    show: true,
                    style: {
                        fontSize: '13px',
                        colors: '#aab2bd'
                    }
                }
            },
            yaxis: {
                labels: {
                    show: false
                },
                min: 0,
                max: 700,
                tickAmount: 5
            }
        };

    if (ordenesChartEl !== undefined && ordenesChartEl !== null) {
        const ordenesChart = new ApexCharts(ordenesChartEl, ordenesChartConfig);
        ordenesChart.render();
    }
</script>

</body>
</html>