<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr" data-theme="theme-default"
      data-assets-path="/assets/"
      data-template="vertical-menu-template-free"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Plantilla</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

  <!-- Page CSS -->
  <script src="/assets/vendor/js/helpers.js"></script>
  <script src="/assets/js/config.js"></script>
  <!--TelExpress fuente de letra-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

  <!-- ingreso de datatables para modificar la tabla a gusto -->
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- DataTables CSS -->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
  <!-- DataTables JS -->
  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <!--stylos personalizados-->
  <style>
    /*.dataTables_wrapper .dataTables_paginate {
      text-align: center; /* Centra el paginado
      margin-top: 1.5rem;  /* Añade margen superior *
      margin-left: auto;
      margin-right: auto;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      padding: 0.5em 1em;
      border-radius: 4px;
      border: 1px solid #ddd;
      background: #f5f5f5;
      color: #89a9cc;
    }
    /* Centrar la paginación en DataTables */
    .dataTables_wrapper .dataTables_paginate {
      display: flex; /* Usar flexbox para centrar */
      justify-content: center; /* Centrar horizontalmente */
      margin-top: 1.5rem; /* Añade margen superior */
      margin-left: auto; /* Asegura que se centre */
      margin-right: auto; /* Asegura que se centre */
    }

    /* Estilo para el paginado */
    /*.dataTables_wrapper .dataTables_paginate {
      text-align: center; /* Centra el paginado
      margin-top: 1.5rem;  /* Añade margen superior *
    }

    /* Estilo de los botones de paginación */
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      padding: 0.5em 1em;
      border-radius: 4px;
      border: 1px solid #ddd;
      background: #f5f5f5;
      color: #89a9cc;
    }
    /*Estilo para la tabla */
    .table {
      border-collapse: collapse; /* Para que los bordes se fusionen*/
    }
    /*.table th, .table td {
      border: 1px solid rgba(0, 0, 0, 0.1); /* Borde más delgado
      padding: 0.5rem; /* Espaciado interno para las celdas */
    /*
    .table th, table td {
      padding: 12px; /* Agrega espacio interno a las celdas *
      text-align: left; /* Alinea el contenido de las celdas a la izquierda */

    /* Sin bordes en las cabeceras */
    .table th {
      border: none; /* Sin borde en la cabecera */
    }

    /* Solo mostrar borde inferior en las celdas */
    .table td {
      border: none; /* Sin borde en los lados */
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Solo borde inferior para filas */
      padding: 0.5rem; /* Espaciado interno para las celdas */
      text-align: left; /* Alinea el contenido de las celdas a la izquierda */
    }

    table {
      border-collapse: separate; /* Evita que las celdas estén pegadas entre sí */
      border-spacing: 0 10px; /* Espaciado entre las filas */
    }
    /* Ocultar el buscador, el texto "Showing" y el selector de longitud */
    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_info,
    .dataTables_wrapper .dataTables_length {
      display: none;
    }

  </style>


</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <!-- Menu -->

    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
      <!-- Contenedor para la imagen centrada -->
      <div style="text-align: center;">
        <img src="/assets/img/icons/unicons/logo.png" alt="Imagen" style="width: 150px; margin-bottom: -70px; margin-top: -20px">

      </div>

      <div class="app-brand demo" style="text-align: center;">
        <a href="/superadmin/inicio_superadmin" class="app-brand-link">
          <span class="app-brand-text demo menu-text fw-bolder" style="font-family: 'Poppins', sans-serif; color: #7367F0; padding-left: 15px;">TelExpress</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
          <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
      </div>


      <div class="menu-inner-shadow"></div>

      <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
          <a href="/superadmin/inicio_superadmin" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Inicio">Inicio</div>
          </a>
        </li>

        <li class="menu-item">
          <a href="/superadmin/dashboard_superadmin" class="menu-link">
            <i class="menu-icon tf-icons bx bx-grid-alt"></i>
            <div data-i18n="Dashboard">Dashboard</div>
          </a>
        </li>
        <li class="menu-item">
          <a href="/superadmin/inventario_superadmin" class="menu-link">
            <i class="menu-icon tf-icons bx bx-package"></i>
            <div data-i18n="Inventario">Inventario</div>
          </a>
        </li>



        <li class="menu-header small text-uppercase">
          <span class="menu-header-text">Páginas</span>
        </li>
        <li class="menu-item active">
          <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-dock-top"></i>
            <div data-i18n="Gestión de Roles">Gestión de Roles</div>
          </a>
          <ul class="menu-sub">
            <li class="menu-item active">
              <a href="/superadmin/gestion_coordinadores" class="menu-link">
                <div data-i18n="Coordinador Zonal">Coordinador Zonal</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/superadmin/gestion_agentes" class="menu-link">
                <div data-i18n="Agente">Agente</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/superadmin/gestion_usuarios" class="menu-link">
                <div data-i18n="Usuario">Usuario</div>
              </a>
            </li>
            <li class="menu-item">
              <a href="/superadmin/gestion_proveedores" class="menu-link">
                <div data-i18n="Usuario">Proveedores</div>
              </a>
            </li>
          </ul>
        </li>




      </ul>
    </aside>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

      <nav
              class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
              id="layout-navbar"
      >
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
          <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
          </a>
        </div>

        <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">


          <ul class="navbar-nav flex-row align-items-center ms-auto">
            <!-- Place this tag where you want the button to render. -->


            <!-- Notificaciones -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
              <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                 data-bs-toggle="dropdown">
                <div class="position-relative">
                  <div class="bx bx-bell" style="font-size: 26px; color: #7367F0;"></div>
                  <span class="badge bg-danger rounded-circle position-absolute d-flex justify-content-center align-items-center"
                        style="top: -5px; right: -5px; font-size: 12px; width: 18px; height: 18px;">
                      5
                    </span>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li class="dropdown-header">Notificaciones</li>
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex align-items-center">
                      <div class="bx bx-message-square-dots me-3"
                           style="font-size: 20px; color: #7367F0;"></div>
                      <div>
                        <span class="d-block">Nueva solicitud recibida</span>
                        <small class="text-muted">Hace 5 minutos</small>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex align-items-center">
                      <div class="bx bx-check-circle me-3"
                           style="font-size: 20px; color: #28C76F;"></div>
                      <div>
                        <span class="d-block">Tarea completada</span>
                        <small class="text-muted">Hace 2 horas</small>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex align-items-center">
                      <div class="bx bx-error me-3"
                           style="font-size: 20px; color: #EA5455;"></div>
                      <div>
                        <span class="d-block">Error en el sistema</span>
                        <small class="text-muted">Hace 1 día</small>
                      </div>
                    </div>
                  </a>
                </li>

                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex align-items-center">
                      <div class="bx bx-download me-3"
                           style="font-size: 20px; color: #FF9F43;"></div>
                      <div>
                        <span class="d-block">Archivo descargado</span>
                        <small class="text-muted">Hace 3 días</small>
                      </div>
                    </div>
                  </a>
                </li>

                <li class="dropdown-footer">
                  <a class="dropdown-item text-center text-primary" href="#">Ver todas las
                    notificaciones</a>
                </li>
              </ul>
            </li>
            <!--/ Notificaciones -->

            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
              <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);"
                 data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                  <img src="/assets/img/avatars/1.png" alt
                       class="w-px-40 h-auto rounded-circle"/>
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                          <img src="/assets/img/avatars/1.png" alt
                               class="w-px-40 h-auto rounded-circle"/>
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <span class="fw-semibold d-block">John Doe</span>
                        <small class="text-muted">Admin</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="/cambio_contraseña">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">Cambio de Contraseña</span>
                  </a>
                </li>


                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="/Login">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Cerrar Sesión</span>
                  </a>
                </li>
              </ul>
            </li>
            <!--/ User -->
          </ul>
        </div>
      </nav>

      <!-- / Navbar -->
      <!-- Content wrapper -->
      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <!-- Tabla Coordinadores Zonales -->
          <h5 class="mb-4">Coordinadores Zonales</h5>
          <div class="card" style="padding: 0.8rem;">
            <div class="card-header">
              <form action="/superadmin/buscadorcoordinador" method="get" class="mb-3">
                <div class="input-group">
                  <input type="text" name="searchTerm" class="form-control" placeholder="Buscar por nombre, apellido o DNI" th:value="${searchTerm}" />
                  <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
              </form>
              </div>
          <div class="table-responsive text-nowrap">
            <table class="table table-striped" id="coordinadoresTable" style="margin-top: 20px;">
              <thead class="table-light">
              <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Correo</th>
                <th>Zona</th>
                <th>Fecha de Nacimiento</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              <!-- Aquí van las filas con los coordinadores -->
              <tr th:each="usuario,info : ${coordinadores}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="${usuario.nombre}"></td>
                <td th:text="${usuario.apellido}"></td>
                <td th:text="${usuario.dni}"></td>
                <td th:text="${usuario.correo}"></td>
                <td th:text="${usuario.zona.nombre}"></td>
                <td th:text="${usuario.fechanacimiento}"></td>
                <td>
                  <a th:href="@{/superadmin/coordinador_zonal_formu/{id}(id=${usuario.id})}" class="btn btn-sm btn-primary">
                    <i class="bx bx-edit-alt"></i>
                  </a>

                  <a th:href="@{/superadmin/deletecoordi(id=${usuario.id})}" class="btn btn-sm btn-danger">
                    <i class="bx bx-trash"></i></a>

                </td>
              </tr>
              <!-- Puedes agregar más filas aquí -->
              </tbody>
            </table>
          </div>
          </div>

          <!-- Botón "Crear Nuevo" -->
          <div class="text-center my-3">
            <a class="btn btn-primary" th:href="@{/superadmin/new}">Crear Nuevo</a>
          </div>

        </div>
        <!-- Content backdrop -->
        <div class="content-backdrop fade"></div>
      </div>
    </div>
  </div>



  <!-- Overlay -->
  <div class="layout-overlay layout-menu-toggle"></div>
</div>


<script>
  $(document).ready(function() {
    $('#coordinadoresTable').DataTable({
      "pagingType": "full_numbers", // Esto muestra los números de página completos
      "pageLength":8,
      "infoEmpty": "No hay coordinadores disponibles",
      "language": {
        "paginate": {
          "first": "",
          "last": "",
          "next": ">>",
          "previous": "<<"
        }
      },
      "paging": true,      // Activa la paginación
      "searching": false,  // Desactiva el buscador
      "info": false        // Oculta la información de "Showing"

    });
  });
</script>


<!-- Core JS -->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/vendor/js/menu.js"></script>

<!-- Vendors JS -->
<script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/dashboards-analytics.js"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- DataTables JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
</body>
</html>
