<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
  <title>Plantilla</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/assets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

  <!-- Helpers -->
  <script src="/assets/vendor/js/helpers.js"></script>
  <script src="/assets/js/config.js"></script>
  <!--TelExpress fuente de letra-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
  <div class="layout-container">
    <div th:insert="~{SuperAdmin/fragments/menu.html::menu}"></div> <!-- este es el menu -->

    <!-- Contenido principal -->
    <div class="layout-page">
      <div th:insert="~{SuperAdmin/fragments/navbar.html::navbar}"></div> <!-- este es el navbar -->

      <div class="content-wrapper">
        <div class="container-xxl flex-grow-1 container-p-y">
          <!-- Título -->
          <h4 class="mb-4">Editar Producto</h4>

          <!-- Formulario -->
          <form id="formRegistro" method="post" th:action="@{/producto/guardar}" th:object="${producto}" enctype="multipart/form-data">
            <input th:field="*{idProducto}" name="id" type="hidden"/>
            <div class="row mb-3">
              <!-- Nombre del producto
              <div class="col-md-6">
                <label class="form-label">Nombre del Producto</label>
                <input th:field="*{nombreProducto}" type="text" class="form-control">
              </div>-->

              <div class="col-md-6">
                <label class="form-label">Nombre del Producto</label>
                <input th:field="*{nombreProducto}" type="text" class="form-control" placeholder="Ingrese el nombre del producto"
                       th:classappend="${#fields.hasErrors('nombreProducto') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('nombreProducto')}" th:errors="*{nombreProducto}"></div>
              </div>


              <!-- Cantidad disponible
              <div class="col-md-6">
                <label class="form-label">Cantidad disponible:</label>
                <input th:field="*{cantidadDisponible}" type="number" class="form-control">
              </div>-->

              <div class="col-md-6">
                <label class="form-label">Cantidad disponible:</label>
                <input th:field="*{cantidadDisponible}" type="number" class="form-control" placeholder="Ingrese la cantidad disponible"
                       th:classappend="${#fields.hasErrors('cantidadDisponible') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('cantidadDisponible')}" th:errors="*{cantidadDisponible}"></div>
              </div>
            </div>

            <div class="row mb-3">
              <!-- Precio
              <div class="col-md-6">
                <label class="form-label">Precio:</label>
                <input th:field="*{precio}" type="number" class="form-control">
              </div>-->

              <div class="col-md-6">
                <label class="form-label">Precio:</label>
                <input th:field="*{precio}" type="number" class="form-control" placeholder="Ingrese el precio"
                       th:classappend="${#fields.hasErrors('precio') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
              </div>
              <!-- Costo de envío
              <div class="col-md-6">
                <label class="form-label">Costo de envío:</label>
                <input th:field="*{costoEnvio}" type="number" class="form-control">
              </div>-->
              <div class="col-md-6">
                <label class="form-label">Costo de envío:</label>
                <input th:field="*{costoEnvio}" type="number" class="form-control" placeholder="Ingrese el costo de envío"
                       th:classappend="${#fields.hasErrors('costoEnvio') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('costoEnvio')}" th:errors="*{costoEnvio}"></div>
              </div>

            </div>

            <div class="row mb-3">
              <!-- Nombre del Proveedor-->
              <div class="col-md-6">
                <label class="form-label">Nombre del Proveedor:</label>
                <select class="form-select" th:field="*{proveedores}" >
                  <option th:each="proveedor : ${listaProveedores}"
                          th:value="${proveedor.idProveedor}"
                          th:text="${proveedor.nombreProveedor}"></option>
                </select>
              </div>

              <!-- Categoría
              <div class="col-md-6">
                <label class="form-label">Categoría:</label>
                <input th:field="*{categoria}" type="text" class="form-control">
              </div>-->
<!--
              <div class="col-md-6">
                <label class="form-label">Categoría:</label>
                <input th:field="*{categoria}" type="text" class="form-control" placeholder="Ingrese la categoría"
                       th:classappend="${#fields.hasErrors('categoria') ? 'is-invalid' : ''}">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
              </div>
              -->


              <div class="col-md-6">
                <label for="categoria" class="form-label">Categoria:</label>
                <select class="form-select" name="categorias.idcategoria" id="categoria">
                  <option value="">Seleccione una Categoría:</option>
                  <!--<option th:each="cat: ${listaCategoria}" th:value="${zona.idzona}" th:text="${zona.nombre}" th:selected="${zona.idzona == proveedor.zona.idzona}"> -->
                  <option th:each="cat: ${listaCategoria}" th:value="${cat.idcategoria}" th:text="${cat.nombre}" th:selected="${cat.idcategoria == producto.categorias.idcategoria}">
                  </option>
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <!-- Zona-->
              <div class="col-md-6">
                <label class="form-label">Zona Asignada:</label>
                <!--
                <select class="form-select" th:field="*{proveedores}" disabled>
                  <option th:each="zona : ${listaZona}"
                          th:value="${zona.idzona}"
                          th:text="${zona.nombre}">
                  </option>
                </select> -->
                <input type="text" class="form-control" th:value="${producto.proveedores[0].zona.nombre}" readonly />

              </div>


              <!-- Descripción
              <div class="col-md-6">
                <label class="form-label">Descripción:</label>
                <input th:field="*{descripcion}" type="text" class="form-control">
              </div>-->

              <div class="col-md-6">
                <label class="form-label">Descripción:</label>
                <textarea th:field="*{descripcion}" class="form-control" rows="3" placeholder="Ingrese la descripción"
                          th:classappend="${#fields.hasErrors('descripcion') ? 'is-invalid' : ''}"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
              </div>

              <!--

              <div class="col-md-6">
                <label class="form-label">Imagen del Producto:</label>
                <input type="file" name="image" class="form-control" accept="image/*" />
              </div> -->

              <div class="col-md-6">
                <label class="form-label">Imagen del Producto (Formato .jpg):</label>
                <div>
                  <img th:if="${imageUrl != null}" th:src="${imageUrl}" alt="Imagen del producto" class="img-fluid mb-3" style="max-width: 200px;" />
                  <p th:if="${imageUrl == null}">No hay imagen cargada para este producto.</p>
                </div>
                <input type="file" name="image" class="form-control" accept="image/*" />
                <small class="text-muted">La imagen actual se mantendrá si no seleccionas un nuevo archivo.</small>
              </div>

            </div>

            <!-- Botón de editar -->
            <div class="text-center">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal">Guardar Cambios</button>
              <a th:href="@{/producto/lista}" class="btn btn-danger">Cancelar</a>

            </div>
          </form>
        </div>

        <!-- Modal de Confirmación -->
        <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmar solicitud</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                El producto se actualizará
              </div>
              <div class="modal-footer">
                <a th:href="@{'/producto/lista'}"  class="btn btn-danger" data-bs-dismiss="modal">Cancelar</a>
                <button type="button" class="btn btn-primary" id="confirmarRegistro">Confirmar</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Bootstrap JS and dependencies (Popper.js and Bootstrap JS) -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

        <script>
          document.getElementById('confirmarRegistro').addEventListener('click', function () {
            // Aquí puedes realizar el envío de los datos o hacer otras acciones
            document.getElementById('formRegistro').submit(); // Envía el formulario
          });
        </script>


      </div>
    </div>
  </div>
</div>

<!-- Core JS -->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/vendor/js/menu.js"></script>
<script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>
l>