<!DOCTYPE html>
<html
        lang="en"
        class="light-style layout-menu-fixed"
        dir="ltr"
        data-theme="theme-default"
        data-assets-path="/assets/"
        data-template="vertical-menu-template-free"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Perfil Agente</title>

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../../assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>
    <script src="/assets/js/config.js"></script>
</head>

<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div th:insert="~{SuperAdmin/fragments/menu.html::menu}"></div> <!-- este es el menu -->

        <!-- Layout container -->
        <div class="layout-page">
            <div th:insert="~{SuperAdmin/fragments/navbar.html::navbar}"></div> <!-- este es el navbar -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- Content -->
                <div class="container-xxl flex-grow-1 container-p-y d-flex justify-content-center align-items-center vh-100">
                    <div class="card" style="width: 50%; padding: 20px;">
                        <div class="card-body text-center">
                            <img src="../../assets/img/avatars/1.png" alt="User Avatar" class="d-block mx-auto w-px-100 h-px-100 rounded-circle mb-4">
                            <h4 class="mb-4" style="font-family: 'Poppins', sans-serif; color: #7367F0; font-weight: bold;">Mi perfil</h4>

                            <div class="mb-3">
                                <label for="firstName" class="form-label">Nombres:</label>
                                <input type="text" class="form-control" id="firstName" value="Super" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="lastName" class="form-label">Apellidos:</label>
                                <input type="text" class="form-control" id="lastName" value="Admin" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="codigo" class="form-label">Correo:</label>
                                <input type="text" class="form-control" id="correo" value="super.admin@example.com" readonly>
                            </div>

                            <div class="d-flex justify-content-center mt-4">
                                <!--<a href="../Sistema/cambio_contraseña.html" class="btn btn-primary">Cambiar contraseña</button>-->
                                <a href="inicio_superadmin.html" class="btn btn-danger">Regresar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- / Content -->
                <div class="content-backdrop fade"></div>
            </div>
            <!-- / Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
</div>
<!-- / Layout wrapper -->

<!-- Core JS -->
<script src="../../assets/vendor/libs/jquery/jquery.js"></script>
<script src="../../assets/vendor/libs/popper/popper.js"></script>
<script src="../../assets/vendor/js/bootstrap.js"></script>
<script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="../../assets/vendor/js/menu.js"></script>

<!-- Vendors JS -->
<script src="../../assets/vendor/libs/apex-charts/apexcharts.js"></script>

<!-- Main JS -->
<script src="../../assets/js/main.js"></script>

<!-- Page JS -->
<script src="../../assets/js/dashboards-analytics.js"></script>
</body>

</html>