<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default">
<head>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Editar Proveedor</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />

    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>
    <script src="/assets/js/config.js"></script>
    <!--TelExpress fuente de letra-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div th:insert="~{SuperAdmin/fragments/menu.html::menu}"></div> <!-- este es el menu -->

        <!-- Contenido principal -->
        <div class="layout-page">
            <div th:insert="~{SuperAdmin/fragments/navbar.html::navbar}"></div> <!-- este es el navbar -->

            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <!-- Título -->
                    <h4 class="mb-4">Editar Proveedor</h4>

                    <!-- Formulario -->
                    <form id="formEdicion" method="post" th:action="@{/superadmin/proveedor/guardar}" th:object="${proveedor}">
                        <input th:field="*{idProveedor}" name="id" type="hidden"/>
                        <div class="row mb-3">
                            <!-- Nombre del proveedor -->
                            <div class="col-md-6">
                                <label for="nombreProveedor" class="form-label">Nombre del Proveedor:</label>
                                <input type="text" class="form-control" name="nombreProveedor" id="nombreProveedor" th:value="${proveedor.nombreProveedor}" placeholder="Ingrese el nombre del proveedor" disabled>
                                <!-- Campo oculto para enviar el DNI -->
                                <input type="hidden" name="nombreProveedor" th:value="${proveedor.nombreProveedor}">
                            </div>


                            <!-- Nombre de la tienda -->
                            <div class="col-md-6">
                                <label for="nombreTienda" class="form-label">Tienda:</label>
                                <input type="text" class="form-control" name="nombreTienda" id="nombreTienda" th:value="${proveedor.nombreTienda}" placeholder="Ingrese el nombre de la tienda">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <!-- DNI -->
                            <!-- DNI (Visible pero deshabilitado) -->
                            <div class="col-md-6">
                                <label for="dni" class="form-label">DNI:</label>
                                <input type="text" class="form-control" name="dniVisible" id="dni" th:value="${proveedor.dni}" pattern="\d{8}" maxlength="8" minlength="8" disabled>
                                <small class="text-muted">Debe tener exactamente 8 dígitos.</small>
                                <!-- Campo oculto para enviar el DNI -->
                                <input type="hidden" name="dni" th:value="${proveedor.dni}">
                            </div>

                            <!-- RUC -->
                            <!-- RUC (Visible pero deshabilitado) -->
                            <div class="col-md-6">
                                <label for="ruc" class="form-label">RUC:</label>
                                <input type="text" class="form-control" name="rucVisible" id="ruc" th:value="${proveedor.ruc}" pattern="\d{11}" maxlength="11" minlength="11" disabled>
                                <small class="text-muted">Debe tener exactamente 11 dígitos.</small>
                                <!-- Campo oculto para enviar el RUC -->
                                <input type="hidden" name="ruc" th:value="${proveedor.ruc}">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <!-- Zona -->
                            <div class="col-md-6">
                                <label for="nombreZona" class="form-label">Zona:</label>
                                <select class="form-select" name="zona.idzona" id="nombreZona">
                                    <option value="">Seleccione una Zona</option>
                                    <option th:each="zona: ${listaZona}" th:value="${zona.idzona}" th:text="${zona.nombre}" th:selected="${zona.idzona == proveedor.zona.idzona}">
                                    </option>
                                </select>
                            </div>

                            <!-- Correo -->
                            <div class="col-md-6">
                                <label for="correo" class="form-label">Correo:</label>
                                <input type="email" class="form-control" id="correo" name="correo" th:value="${proveedor.correo}" placeholder="Ingrese el correo">
                            </div>
                        </div>

                        <!-- Botón de actualizar y cancelar -->
                        <div class="text-center d-flex justify-content-center my-3">
                            <button type="button" class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#confirmModal">Actualizar</button>
                            <a class="btn btn-danger mx-2" th:href="@{/superadmin/proveedor/lista}">Cancelar</a>
                        </div>
                    </form>
                </div>

                <!-- Modal de Confirmación -->
                <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmModalLabel">Confirmar Edición</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Estás seguro de que deseas actualizar la información del proveedor?
                            </div>
                            <div class="modal-footer">
                                <a th:href="@{'/superadmin/proveedor/lista'}" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</a>
                                <button type="submit" class="btn btn-primary" form="formEdicion">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bootstrap JS and dependencies (Popper.js and Bootstrap JS) -->
                <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
            </div>
        </div>
    </div>
</div>

<!-- Core JS -->
<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/vendor/js/menu.js"></script>
<script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>
<script src="/assets/js/main.js"></script>
</body>
</html>