<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../../assets/" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Validacion</title>
    <meta name="description" content="" />
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="/assets/css/demo.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="/assets/vendor/libs/apex-charts/apex-charts.css" />
    <script src="/assets/vendor/js/helpers.js"></script>
    <script src="/assets/js/config.js"></script>
    <!--TelExpress fuente de letra-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
    <div class="layout-container">
        <div th:insert="~{SuperAdmin/fragments/menu.html::menu}"></div> <!-- este es el menu -->
        <!-- Layout container -->
        <div class="layout-page">
            <div th:insert="~{SuperAdmin/fragments/navbar.html::navbar}"></div> <!-- este es el navbar -->
            <!-- Content wrapper -->
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <h4 style="font-family: 'Poppins', sans-serif; color: #7367F0; font-weight: bold; padding-top: 1rem; padding-bottom: 1rem; margin-bottom: 1rem; text-align: center; font-size: 40px;">
                        Validación</h4>


                    <div class="card" style="padding: 0.8rem;">
                        <div class="card-header">
                            <!-- Datos del solicitante -->
                            <form id="formAccountSettings" method="POST" th:object="${postulante}" onsubmit="return false">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="nombreAgente" class="form-label">Nombre:</label>
                                        <input type="text" id="nombreAgente" class="form-control" th:field="*{nombre}" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="apellidoAgente" class="form-label">Apellido:</label>
                                        <input type="text" id="apellidoAgente" class="form-control" th:field="*{apellido}" readonly>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="rucAgente" class="form-label">RUC:</label>
                                        <input type="text" id="rucAgente" class="form-control" th:field="*{ruc}" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="telefonoAgente" class="form-label">Teléfono:</label>
                                        <input type="text" id="telefonoAgente" class="form-control" th:field="*{telefono}" readonly>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="dniAgente" class="form-label">DNI:</label>
                                        <input type="text" id="dniAgente" class="form-control" th:field="*{dni}" readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="zonaAgente" class="form-label">Zona:</label>
                                        <input type="text" id="zonaAgente" class="form-control" th:field="*{zona.nombre}" readonly>
                                    </div>
                                </div>
                            </form>

                                <!-- Formulario para código despachador -->
                            <form th:action="@{/superadmin/validarDespachador}" method="post">
                                <input type="hidden" name="id" th:value="${postulante.id}" />

                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="codigoDespachador" class="form-label">Código despachador:</label>
                                        <input type="text" id="codigoDespachador" name="codigoDespachador" class="form-control" th:value="${postulante.despachador}" readonly>
                                    </div>
                                    <div class="col-md-3 align-self-end">
                                        <button type="submit" class="btn btn-primary w-100">Validar Despachador</button>
                                    </div>
                                </div>
                            </form>
                            <div th:if="${mensajeDespachador}" class="alert alert-info mt-2" th:text="${mensajeDespachador}"></div>

                                <!-- Formulario para código de jurisdicción -->
                            <form th:action="@{/superadmin/validarJurisdiccion}" method="post">
                                <input type="hidden" name="id" th:value="${postulante.id}" />
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="codigoJurisdiccion" class="form-label">Código de jurisdicción:</label>
                                        <input type="text" id="codigoJurisdiccion" name="codigoJurisdiccion" class="form-control" th:value="${postulante.jurisdiccion}" readonly>
                                    </div>
                                    <div class="col-md-3 align-self-end">
                                        <button type="submit" class="btn btn-primary w-100">Validar Jurisdicción</button>
                                    </div>
                                </div>
                            </form>
                            <div th:if="${mensajeJurisdiccion}" class="alert alert-info mt-2" th:text="${mensajeJurisdiccion}"></div>

                                <!-- Botones Aceptar y Denegar -->
                            <div class="text-center">
                                <div th:if="${mensajeExito}" class="alert alert-success mt-2" th:text="${mensajeExito}"></div>
                                <div th:if="${mensajeError}" class="alert alert-danger mt-2" th:text="${mensajeError}"></div>
                                <div class="d-flex justify-content-center align-items-center">
                                    <button type="button" class="btn btn-success mx-2" data-bs-toggle="modal" data-bs-target="#confirmModal" th:attr="data-id=${postulante.id}">Aceptar</button>

                                    <button type="button" class="btn btn-danger mx-2" data-bs-toggle="modal" data-bs-target="#denegarModal" th:attr="data-id=${postulante.id}">Denegar</button>

                                    <button type="button" class="btn btn-primary mx-2" onclick="window.location.href='/superadmin/solicitudes'">Cancelar</button>
                                </div>


                            </div>

                        </div>
                    </div>
                    <!-- Botón "Crear Nuevo" -->
                    <div class="text-center my-3">
                        <!--<button class="btn btn-primary" onclick="window.location.href='/rol_agente_solicitudes';">Solicitudes Agentes</button> -->
                    </div>

                </div>

                <div class="content-backdrop fade"></div>
            </div>
            <!-- / Content wrapper -->
        </div>
        <!-- / Layout page -->
    </div>
    <!-- Overlay -->
    <div class="layout-overlay layout-menu-toggle"></div>
</div>


<!-- / Layout wrapper -->

<!-- Modal de Confirmación -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Confirmar Solicitud</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de aceptar a este usuario como nuevo agente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <form th:action="@{/superadmin/actualizarRol}" method="post" class="d-inline">
                    <input type="hidden" name="id" th:value="${postulante.id}" />
                    <button type="submit" class="btn btn-primary">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal de Confirmación para Denegar -->
<div class="modal fade" id="denegarModal" tabindex="-1" aria-labelledby="denegarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="denegarModalLabel">Denegación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estás seguro de denegar la solicitud para agente?
                El usuario tendra que realizar una nueva solicitud.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form th:action="@{/superadmin/denegarSolicitud}" method="post" class="d-inline">
                    <input type="hidden" name="id" th:value="${postulante.id}" />
                    <button type="submit" class="btn btn-danger">Denegar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Core JS -->
<script>

</script>

<script src="/assets/vendor/libs/jquery/jquery.js"></script>
<script src="/assets/vendor/libs/popper/popper.js"></script>
<script src="/assets/vendor/js/bootstrap.js"></script>
<script src="/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/vendor/js/menu.js"></script>
<!-- endbuild -->
<!-- Vendors JS -->
<script src="/assets/vendor/libs/apex-charts/apexcharts.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>
<!-- Page JS -->
<script src="/assets/js/dashboards-analytics.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!--<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.querySelector('form[action$="/validarDespachador"]').addEventListener('submit', function(e) {
            console.log('Formulario de despachador enviado');
        });
    });
</script>-->
</body>
</html>